<div class="fsub">
  <div class="fsub-spacer"></div>

  <div fxFlex.xs="100" fxLayout.xs="column" fxFlex.sm="100" fxLayout.sm="column wrap" fxFlex.md="90" fxFlex.lg="70"
    class="fsub-container">
    <div class="content">
      <h3><strong>Join us Newsletter Now</strong></h3>
      <p>Get E-mail updates about out latest shop and special offers</p>
    </div>
    <div class="input">
      <input matInput placeholder="Enter your email." type="text">
      <button mat-button class="button btn-sub">Subscribe</button>
    </div>
  </div>

  <div class="fsub-spacer"></div>
</div>

<div class="footer-link">
  <div class="fsub-spacer">

  </div>
  <div fxFlex.lg="70" fxFlex.xs="90" fxLayout.xs="column" fxFlex.sm="100" fxFlex.md="90" class="flink-container">
    <div class="more-info">
      <p>Copyright 2019 Ogami - All Rights Reserved</p>
    </div>
    <div class="payment">
      <img src="../../../../assets/payment.png">
    </div>
  </div>

  <div class="fsub-spacer"></div>
</div>
