.type-pro {
  width: 100%;
  display: flex;
  padding-top: 60px;


  .type-spacer {
    flex: 1 1 auto;
  }

  .type-container {
    justify-content: space-between;
    width: 61%;
    display: flex;
    align-content: space-between;
    flex-wrap: inherit;
    height: 400px;

    .type-content {
      img {
        height: 300px;
      }

      cursor: pointer;

      mat-card-header {
        text-align: center;
        justify-content: center;
        margin-top: -20px;

        mat-card-title {
          font-size: 20px;
          font-family: ceraPro;
          font-weight: 700;
        }

        mat-card-subtitle {
          font-size: 16px;
          color: #88c74a;
          font-family: ceraPro;
        }
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .type-container {
    height: auto !important;

    mat-card {
      margin-top: 20px;
      opacity: 0.8;
    }

    mat-card:hover {
      opacity: 1;
      border: solid 1px #88c74a;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  .type-container {
    height: auto !important;
  }

  mat-card {
    margin-top: 20px;
    opacity: 0.8;
    height: auto !important;
  }

  mat-card:hover {
    opacity: 1;
    border: solid 1px #88c74a;
  }
}


@media only screen and (min-width: 960px) and (max-width: 1279px) {
  mat-card {
    margin-left: 10px;
  }
}
