<div class="type-pro">
  <div class="type-spacer">

  </div>
  <div fxLayout.xs="column" fxFlex.lg="70" fxLayout.sm="column" fxFlex.sm="40" fxFlex.md="90" class="type-container">
    <mat-card class="type-content">
      <img mat-card-image src="../../../../../assets/homepage01/item_category_1.png">
      <mat-card-header>
        <mat-card-title>Fresh Fruit</mat-card-title>
        <mat-card-subtitle>4 items</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="type-content">
      <img mat-card-image src="../../../../../assets/homepage01/item_category_2.png">
      <mat-card-header>
        <mat-card-title>Dried</mat-card-title>
        <mat-card-subtitle>4 items</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="type-content">
      <img mat-card-image src="../../../../../assets/homepage01/item_category_3.png">
      <mat-card-header>
        <mat-card-title>Vegetables</mat-card-title>
        <mat-card-subtitle>4 items</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="type-content">
      <img mat-card-image src="../../../../../assets/homepage01/item_category_4.png">
      <mat-card-header>
        <mat-card-title>Juice</mat-card-title>
        <mat-card-subtitle>4 items</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

  </div>
  <div class="type-spacer">
  </div>
</div>
