<app-header></app-header>
<div class="page-faq">
  <div class="faq-spacer">

  </div>
  <div class="faq-container">
    <section class="faq-section">
      <input type="checkbox" id="q1">
      <label for="q1">Is there any thing i should bring?</label>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique sodales diam, sed vehicula quam
        vehicula vel</p>
      <p>Quisque semper, enim non feugiat placerat, eros odio tincidunt felis, id tristique urna libero ac elit. Nam
        vitae velit quis diam convallis sodales in sit amet leo. Phasellus blandit laoreet massa nec ornare</p>
    </section>
    <section class="faq-section">
      <input type="checkbox" id="q1">
      <label for="q1">Is there any thing i should bring?</label>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique sodales diam, sed vehicula quam
        vehicula vel</p>
      <p>Quisque semper, enim non feugiat placerat, eros odio tincidunt felis, id tristique urna libero ac elit. Nam
        vitae velit quis diam convallis sodales in sit amet leo. Phasellus blandit laoreet massa nec ornare</p>
    </section>
    <section class="faq-section">
      <input type="checkbox" id="q1">
      <label for="q1">Is there any thing i should bring?</label>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique sodales diam, sed vehicula quam
        vehicula vel</p>
      <p>Quisque semper, enim non feugiat placerat, eros odio tincidunt felis, id tristique urna libero ac elit. Nam
        vitae velit quis diam convallis sodales in sit amet leo. Phasellus blandit laoreet massa nec ornare</p>
    </section>
  </div>
  <div class="faq-spacer">

  </div>
</div>
<app-footer></app-footer>
