<div class="feature">
  <div class="feat-spacer">

  </div>
  <div fxFlex.xs="80" fxFlex.sm="80" fxFlex.lg="70" class="feat-container">
    <div class="free-ship content">
      <img class="feat-icon" src="../../../../../../assets/homepage01/benefit-icon1.png">
      <h4>Free Shipping</h4>
      <p>For all order over 99$</p>
    </div>
    <div class="delivery content">
      <img class="feat-icon" src="../../../../../../assets/homepage01/benefit-icon2.png">
      <h4>Deleviry on Time</h4>
      <p>If good have problems</p>
    </div>
    <div class="secure-payment content">
      <img class="feat-icon" src="../../../../../../assets/homepage01/benefit-icon3.png">
      <h4>Secure Payment</h4>
      <p>100% secure payment</p>
    </div>
  </div>
  <div class="feat-spacer">

  </div>
</div>
