<app-header></app-header>
<div class="blog">
  <div class="blog-spacer"></div>
  <div class="blog-container" fxFlex.sm="90" fxFlex.xs="90" fxFlex.md="90" fxFlex.lg="70">
    <div class="content">
      <div class="ct-title">
        <h3>
          Look more intelligent by adjusting two aspects of your facial
          expression
        </h3>
      </div>

      <div class="ct-poster">
        <img src="../../../../assets/blog/list_img_3.png" />
      </div>

      <div class="body">
        <p>
          Bout seul et cite cinq gens ou nuit. Elle paix tire donc peu uns sait
          les. De ou parterre vaudrait adjudant. Battirent dentelles bas nez
          indicible parlaient. Car trafics erigent fer heureux eux piquees
          geantes. Imberbes piquette les negation ont revendre. Et sa miserables
          tricolores convulsion remarquent prisonnier eclatantes. Troupe plates
          oui trouva rit fievre ils visite dur. Depenser age repondit essaiera
          ifs epandent habitent regardez.
        </p>

        <p>
          Ras adorer touffe beaute peu ans. Ont trouve aux les ifs parees
          gronde. Faite armes nul garde sur elles court. Caractere oui viendrait
          vin accoudees tot certitude. Est ont aux vieillards patiemment
          republique bouquetins estaminets. Cassait oh dragons ce abattre me.
          Blancs vin soeurs autres non menent paquet gronde. Et joue seul tu
          plus. Je la donc veut avez on quoi.
        </p>

        <p>
          Tranchees deroulent metairies ameliorer se va je miserable. Car son
          eclatantes patiemment enveloppes ils atteignait jet. Menue cette quand
          avait nid pic droit. Moi faisans eux dernier eclaire. Bas sur demain
          simple fetent. Firmin levres fit sortir ras. Dit evidemment sur
          remplirent claquaient convulsion par. Carre desir garde et doute nerfs
          un qu je. Sol non air arbre neige ainsi son. Aux chez par tout rien.
        </p>
      </div>

      <div class="ct-poster">
        <img src="../../../../assets/blog/list_img_4.png" />
      </div>

      <div class="body">
        <p>
          Bout seul et cite cinq gens ou nuit. Elle paix tire donc peu uns sait
          les. De ou parterre vaudrait adjudant. Battirent dentelles bas nez
          indicible parlaient. Car trafics erigent fer heureux eux piquees
          geantes. Imberbes piquette les negation ont revendre. Et sa miserables
          tricolores convulsion remarquent prisonnier eclatantes. Troupe plates
          oui trouva rit fievre ils visite dur. Depenser age repondit essaiera
          ifs epandent habitent regardez.
        </p>

        <p>
          Ras adorer touffe beaute peu ans. Ont trouve aux les ifs parees
          gronde. Faite armes nul garde sur elles court. Caractere oui viendrait
          vin accoudees tot certitude. Est ont aux vieillards patiemment
          republique bouquetins estaminets. Cassait oh dragons ce abattre me.
          Blancs vin soeurs autres non menent paquet gronde. Et joue seul tu
          plus. Je la donc veut avez on quoi.
        </p>

        <p>
          Tranchees deroulent metairies ameliorer se va je miserable. Car son
          eclatantes patiemment enveloppes ils atteignait jet. Menue cette quand
          avait nid pic droit. Moi faisans eux dernier eclaire. Bas sur demain
          simple fetent. Firmin levres fit sortir ras. Dit evidemment sur
          remplirent claquaient convulsion par. Carre desir garde et doute nerfs
          un qu je. Sol non air arbre neige ainsi son. Aux chez par tout rien.
        </p>
      </div>

      <!-- <div class="comment">
        <div class="num-comment">
          <h3>2 Comments</h3>
        </div>

        <span class="main-comment">
          <div class="avatar">
            <img src="../../../../assets/blog/mini_blog_img_1.png" />
          </div>
          <span class="content">
            <h4>Bradon Kelley</h4>
            <p></p>
          </span>
        </span>
      </div> -->
    </div>
    <div class="actions">
      <span class="btn-search">
        <input matInput />
        <button mat-icon-button>
          <mat-icon class="mat-18">search</mat-icon>
        </button>
      </span>

      <div class="categories">
        <div class="title">
          <h4>Categories</h4>
          <p>Image</p>
          <p>Nutrition Meal</p>
          <p>Organtic Plating</p>
          <p>Recipes</p>
        </div>
      </div>

      <div class="recent-post">
        <div class="title">
          <h4>Recent Posts</h4>
        </div>
        <div class="rp-content">
          <span class="item-1">
            <a><img src="../../../../assets/blog/masonry_img_1.png" /></a>
            <h4>The Personal Trail That Makes..</h4>
          </span>
          <span class="item-1">
            <a><img src="../../../../assets/blog/masonry_img_3.png" /></a>
            <h4>The Personal Trail That Makes..</h4>
          </span>
          <span class="item-1">
            <a><img src="../../../../assets/blog/masonry_img_4.png" /></a>
            <h4>The Personal Trail That Makes..</h4>
          </span>
          <span class="item-1">
            <a><img src="../../../../assets/blog/masonry_img_1.png" /></a>
            <h4>The Personal Trail That Makes..</h4>
          </span>
        </div>
      </div>

      <div class="search-tag">
        <div class="title">
          <h4>Search by Tags</h4>
        </div>
        <div class="tags">
          <button mat-raised-button>Fruit</button>
          <button mat-raised-button>Fresh</button>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-spacer"></div>
</div>
<app-footer></app-footer>
