<div fxHide.xs fxHide.sm fxHide.md class="banner">
  <div class="banner-left">
    <img src="../../../../../../assets/homepage01/banner_1.png">
  </div>
  <div class="banner-container">
    <img src="../../../../../../assets/homepage01/banner_2.png">
  </div>
  <div class="banner-right">
    <img src="../../../../../../assets/homepage01/banner_3.png">
  </div>
</div>

<div fxHide fxShow.xs fxShow.sm fxShow.md class="banner-res">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../../../assets/homepage01/banner_1.png">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../../../assets/homepage01/banner_2.png">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../../../../assets/homepage01/banner_3.png">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
