<div class="apartments">
  <div fxHide.xs class="apart-spacer"></div>
  <div fxFlex.xs="100" fxFlex.sm="90" fxFlex.md="90" fxFlex.lg="70" class="apart-container">

    <div fxHide.xs fxHide.sm class="apa-combo-box">
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of gDepart" value="{{item.name}}">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout.xs="column" fxLayout.sm="column" class="depa-input">
      <span class="select-box">
        <mat-form-field>
          <mat-label>Select an option</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of gDepart" value="{{item.name}}">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
      <span class="input">
        <mat-form-field>
          <input matInput placeholder="What do you need?">
        </mat-form-field>
        <button mat-raised-button>Search</button>
      </span>
    </div>
  </div>


  <div fxHide.xs class="apart-spacer"></div>
</div>
