<app-header></app-header>
<div class="blog">
  <div class="blog-spacer"></div>
  <div class="blog-container" fxFlex.sm="90" fxFlex.xs="90" fxFlex.md="90" fxFlex.lg="70">

    <div class="content">
      <div class="blog-row-1" fxLayout.sm="column" fxLayout.xs="column">
        <mat-card>
          <img src="../../../assets/blog/list_img_1.png" class="mat-card-image">
          <mat-card-actions align="center">
            <button mat-button [routerLink]="['/more-detail']">See more</button>
          </mat-card-actions>
          <mat-card-title align="center">
            <span class="mat-headline">The Personality Trait That Makes People That Makes People Happier</span>
          </mat-card-title>
          <mat-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <img src="../../../assets/blog/list_img_2.png" class="mat-card-image">
          <mat-card-actions align="center">
            <button mat-button>See more</button>
          </mat-card-actions>
          <mat-card-title align="center">
            <span class="mat-headline">The Personality Trait That Makes People That Makes People Happier</span>
          </mat-card-title>
          <mat-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="blog-row-1" fxLayout.sm="column" fxLayout.xs="column">
        <mat-card>
          <img src="../../../assets/blog/list_img_5.png" class="mat-card-image">
          <mat-card-actions align="center">
            <button mat-button>See more</button>
          </mat-card-actions>
          <mat-card-title align="center">
            <span class="mat-headline">The Personality Trait That Makes People That Makes People Happier</span>
          </mat-card-title>
          <mat-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <img src="../../../assets/blog/list_img_6.png" class="mat-card-image">
          <mat-card-actions align="center">
            <button mat-button>See more</button>
          </mat-card-actions>
          <mat-card-title align="center">
            <span class="mat-headline">The Personality Trait That Makes People That Makes People Happier</span>
          </mat-card-title>
          <mat-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="blog-row-1" fxLayout.sm="column" fxLayout.xs="column">
        <mat-card>
          <img src="../../../assets/blog/list_img_3.png" class="mat-card-image">
          <mat-card-actions align="center">
            <button mat-button>See more</button>
          </mat-card-actions>
          <mat-card-title align="center">
            <span class="mat-headline">The Personality Trait That Makes People That Makes People Happier</span>
          </mat-card-title>
          <mat-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <img src="../../../assets/blog/list_img_4.png" class="mat-card-image">
          <mat-card-actions align="center">
            <button mat-button>See more</button>
          </mat-card-actions>
          <mat-card-title align="center">
            <span class="mat-headline">The Personality Trait That Makes People That Makes People Happier</span>
          </mat-card-title>
          <mat-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


    <div class="actions">
      <span class="btn-search">
        <input matInput>
        <button mat-icon-button>
          <mat-icon class="mat-18">search</mat-icon>
        </button>
      </span>

      <div class="categories">
        <div class="title">
          <h4>Categories</h4>
          <p>Image</p>
          <p>Nutrition Meal</p>
          <p>Organtic Plating</p>
          <p>Recipes</p>
        </div>
      </div>

      <div class="recent-post">
        <div class="title">
          <h4>Recent Posts</h4>
        </div>
        <div class="rp-content">
          <span class="item-1">
            <a><img src="../../../../assets/blog/masonry_img_1.png"></a>
            <h4>The Personal Trail That Makes..</h4>
          </span>
          <span class="item-1">
            <a><img src="../../../../assets/blog/masonry_img_3.png"></a>
            <h4>The Personal Trail That Makes..</h4>
          </span>
          <span class="item-1">
            <a><img src="../../../../assets/blog/masonry_img_4.png"></a>
            <h4>The Personal Trail That Makes..</h4>
          </span>
          <span class="item-1">
            <a><img src="../../../../assets/blog/masonry_img_1.png"></a>
            <h4>The Personal Trail That Makes..</h4>
          </span>
        </div>
      </div>

      <div class="search-tag">
        <div class="title">
          <h4>Search by Tags</h4>
        </div>
        <div class="tags">
          <button mat-raised-button>Fruit</button>
          <button mat-raised-button>Fresh</button>
        </div>
      </div>
    </div>

  </div>
  <div class="blog-spacer"></div>
</div>
<app-footer></app-footer>
