<div class="fnavbar">
  <div class="fnavbar-spacer">

  </div>
  <div fxFlex.xs="90" fxLayout.xs="column" fxFlex.sm="90" fxLayout.sm="column" fxFlex.md="90" fxFlex.lg="70"
    class="fnavbar-container">
    <div class="contact">
      <img src="../../../../assets/logo.png">
      <p>
        <strong style="color: #88c74a">Address:</strong> 60-49 Road 11378 New York <br />
        <strong style="color: #88c74a">Phone:</strong> +65 11.118.888 <br />
        <strong style="color: #88c74a">Mail:</strong> info.deercreative@gmail.com
      </p>
    </div>
    <div fxLayout.xs="row wrap" fxLayout.sm="row wrap" class="infomation fnav">
      <h3><strong>Infomation</strong></h3>
      <a [routerLink]="['/about']">
        <p>About us</p>
      </a>
      <a>
        <p>Check out</p>
      </a>
      <a>
        <p>Contact</p>
      </a>
      <a>
        <p>Serivius</p>
      </a>
    </div>
    <div class="account fnav">
      <h3><strong>My account</strong></h3>
      <a>
        <p>My account</p>
      </a>
      <a>
        <p>Contact</p>
      </a>
      <a>
        <p>Shopping cart</p>
      </a>
      <a>
        <p>Shop</p>
      </a>
    </div>
    <div class="quick-shop fnav">
      <h3><strong>Quick Shop</strong></h3>
      <a>
        <p>Shipping & Returns</p>
      </a>
      <a>
        <p>Contact</p>
      </a>
      <a>
        <p>Secure Shopping</p>
      </a>
      <a>
        <p>Affiliates</p>
      </a>
    </div>
  </div>
  <div class="fnavbar-spacer">
  </div>
</div>
