<div class="deal">
  <div fxHide.xs class="deal-spacer">

  </div>
  <div fxFlex="100" fxFlex.sm="90" class="deal-container">
    <div class="deal-title">
      <h1>Deal Of The Week</h1>
    </div>
    <div class="deal-content">
      <div class="content-col-1">
        <div class="content-eat-healthy">
          <div class="content">
            <h3><strong>Eat Healthier</strong></h3>
            <p>Atila quedo fue asi hable prima aquels</p>
          </div>
          <img align="right" src="../../../../../../assets/homepage01/dow_icon_1.png">
        </div>
        <div class="content-fresh">
          <img align="left" src="../../../../../../assets/homepage01/dow_icon_2.png">
          <div class="content">
            <h3><strong>Eat Healthier</strong></h3>
            <p>Atila quedo fue asi hable prima aquels</p>
          </div>
        </div>
      </div>
    </div>
    <div class="deal-content">
      <div class="content-col-1">
        <div class="content-eat-healthy">
          <div class="content">
            <h3><strong>Eat Healthier</strong></h3>
            <p>Atila quedo fue asi hable prima aquels</p>
          </div>
          <img align="right" src="../../../../../../assets/homepage01/dow_icon_3.png">
        </div>
        <div class="content-fresh">
          <img align="left" src="../../../../../../assets/homepage01/dow_icon_4.png">
          <div class="content">
            <h3><strong>Eat Healthier</strong></h3>
            <p>Atila quedo fue asi hable prima aquels</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxHide.xs class="deal-spacer">

  </div>
</div>
