<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../../assets/homepage01/slider_background_1.png" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>Fruit Fresh</h3>
      <h1>Orange Lemon</h1>
      <button mat-raised-button>Shop Now</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../../assets/homepage01/slider_background_2.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Fruit Fresh</h3>
      <h1>Orange Lemon</h1>
      <button mat-raised-button>Shop Now</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../../assets/homepage01/slider_background_1.png" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Fruit Fresh</h3>
      <h1>Orange Lemon</h1>
      <button mat-raised-button>Shop Now</button>
    </div>
  </ng-template>
</ngb-carousel>
