<div class="fbanner">
  <div fxHide.xs class="fbanner-spacer">

  </div>
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="90" fxFlex.lg="70" class="fbanner-container">
    <img src="../../../../assets/partner/partner_01.png" />
    <img src="../../../../assets/partner/partner_02.png" />
    <img src="../../../../assets/partner/partner_01.png" />
    <img src="../../../../assets/partner/partner_02.png" />
    <img src="../../../../assets/partner/partner_01.png" />
    <img src="../../../../assets/partner/partner_02.png" />
  </div>
  <div fxHide.xs class="fbanner-spacer">

  </div>
</div>
